@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore
@using Memories.Data

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager


@*@if (SignInManager.IsSignedIn(User) && await UserManager.IsInRoleAsync(UserManager.GetUserAsync(User).Result, "admin"))
    {}*@

<li class="nav-item dropdown show">
    <a class="dropdown-toggle nav-link text-dark" href="#" data-bs-toggle="dropdown">Admin</a>
    <div class="dropdown-menu">
        <a class="dropdown-item" asp-area="Admin" asp-controller="Category" asp-action="Index"><i class="fas fa-box mr-2"></i>Families</a>
        <a class="dropdown-item" asp-area="Admin" asp-controller="UsersToCategory" asp-action="Index"><i class="fas fa-users mr-2"></i>Users to Family</a>
        <div class="dropdown-divider"></div>
       
        <a class="dropdown-item" asp-area="Admin" asp-controller="Family" asp-action="Index"><i class="fas fa-file-video mr-2"></i>Family</a>
    </div>
</li>


        

