@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Memories</h1>
    <p>
        <img src="Media/Members/TylerWaylonZoo.jpg" width="50%"/>
    </p>
</div>

